html,
body,
#root {
  height: 100%;
}

.active {
  position: relative;
}

.nav-link.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  animation: set-underline 0.5s ease-in-out forwards;
}

@keyframes set-underline {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.z-level-one {
  z-index: 1;
}

.z-level-two {
  z-index: 2;
}

.z-level-three {
  z-index: 3;
}

/* Custom scrollbars */
/* width */
.scroll::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

/* Track */
.scroll::-webkit-scrollbar-track {
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}

/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
  background: #777;
}
